<p>
    <strong>Name</strong><br />
    <%= @user.name %>
</p>
<p>
    <strong>Account Authentication through</strong><br />
    <%= @user.provider %>
</p>
<p>
    <strong>Email</strong><br />
    <%= @user.email %>
</p>
<p>
    <strong>PUBG Screen Name</strong><br />
    <%= @user.pubg_account %>
</p>