<div id='video-container'>
  <% @response['content']['items'].each do |video| %>
    <div class='video-item'>
      <h3 style="color:black"><%=link_to video['description'], video['link'], :color => "black"  %></h3>
      <iframe src='https:<%= video['embed'] %>' height="348" width="100%" allowfullscreen="allowfullscreen"
        mozallowfullscreen="mozallowfullscreen"
        msallowfullscreen="msallowfullscreen"
        oallowfullscreen="oallowfullscreen"
        webkitallowfullscreen="webkitallowfullscreen">
      </iframe>
    </div>
  <% end %>
</div>