/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "stats.scss";
 @import "users.scss";

@font-face {
  font-family: "HeadlinerNo45";
  src: url("/assets/HeadlinerNo45.ttf") format('truetype');
}

.pubg-font {
    font-family: "HeadlinerNo45";
    color: #DB8329 !important;
}

.navbar-logo {
    font-size: 30px;
    margin-top: 5px;
}

body {
    background-image: asset_url("Erangel_Main_lowres.jpg");
    background-size: cover;

    h1 {
        text-align: center;
    }
}

.layer {
    background-color: rgba(248, 247, 216, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.error-message {
    text-align: center;
    width: 100%;
}

.body-container {
    float: left;
    background: #000;
    width: 95%;
    margin: 0 35px;
    border-radius: 10px;
}

.fl-w100 {
    float: left;
    width: 100%;
}

.font-color {
    color: #f8f7d8 !important;
}

.navbar-right {
    div {
        span {
            line-height: 3.5;
        }
    }
}

footer {
    width: 100%;
    height: 15px;
    clear: both;
}

.alert {
    width: 100%;
    text-align: center;
}